.grid{
    background-color:rgb(17 93 134);
    text-align: center;
    
}
.empty
{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    .responsive-button {
      padding: 5px 10px;
      font-size: 14px;
    }
  }

#text{
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    resize: vertical;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.generate_button
    {
        background: #4c5baf;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-top:10px
    }

h2{color: aliceblue;} 

